
[Unit]
Description=NetMap task service
After=syslog.target network.target
Documentation=https://www.xxxx.com

[Service]
User=root
PIDFile=/usr/local/netmapService/run/task.pid
ExecStart=/bin/python /usr/local/netmapService/service/broker.py
TimeoutStopSec=10
TimeoutStartSec=10
KillSignal=SIGQUIT
KillMode=process
Restart=always


[Install]
WantedBy=multi-user.target

